<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add job</h2>
    </div>
    <div class="panel-body">
        <ng-form name="jobAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.jobTitle.$invalid && jobAddForm.jobTitle.$dirty }">
                        <label for="jobTitle">Job Title:</label>
                        <input type="text" id="jobTitle" name="jobTitle" class="form-control" ng-model="job.jobTitle"
                               placeholder="Job Title" required>
                        <span class="help-block" ng-show="jobAddForm.jobTitle.$error.required
                             && jobAddForm.jobTitle.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                        <div class="form-group" ng-class="{ 'has-error': jobAddForm.maxSalary.$invalid && jobAddForm.maxSalary.$dirty }">
                            <label for="maxSalary">Maximum Salary</label>
                        <input type="text" id="maxSalary" name="maxSalary" class="form-control" ng-model="job.maxSalary"
                               placeholder="Maximum Salary" required>
                        <span class="help-block" ng-show="jobAddForm.maxSalary.$error.required
                             && jobAddForm.maxSalary.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.minSalary.$invalid && jobAddForm.minSalary.$dirty }">
                        <label for="minSalary">Minimum Salary:</label>
                        <input type="text" id="minSalary" name="minSalary" class="form-control" ng-model="job.minSalary"
                               placeholder="Minimum Salary" required>
                        <span class="help-block" ng-show="jobAddForm.minSalary.$error.required
                             && jobAddForm.minSalary.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <button type="button" class="btn btn-success" ng-click="create(job)" ng-disabled="jobAddForm.$invalid">Save</button>
                        <button type="button" class="btn btn-danger" ng-click="reset()">Reset</button>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>